@import colors

.btn-block
	color #fff
.btn-block:hover,.btn-block:active,.btn-block:focus,.btn-block:active:focus
	color #fff

.btn-primary,.btn-primary:hover,.btn-primary:active,.btn-primary:focus
	background-color main
	border-color transparent
	outline none

.btn-primary:active:focus
	background-color logo
	border-color transparent
	outline none