<!DOCTYPE html>
html(lang="en")
  head
    title Sendlist
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
    link(href='//fonts.googleapis.com/css?family=Open+Sans:400,700|Libre+Baskerville|Raleway' rel='stylesheet' type='text/css')
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='/css/styles.css' type='text/css')
    link(rel='stylesheet' href='/css/font-awesome.min.css' type='text/css')
    script(src="/js/modernizr-custom.js?v=3.3.1")
    base(href="/")
  body(ng-app="sendlist")

    .sl-loadcover(ng-hide="app_ready")
    
    .theapp(ng-controller="MainController")

      //- ----------------------------------------------------------------
      //- App navigation
      //- ----------------------------------------------------------------
      //- include ./templates/partials/nav
      .nav-bar.padded(ng-if="credentials.user")
        .container.fit
          nav.backer.fl-left(ui-sref="lists" ng-show="state.current.url != '/'")
            i.fa.fa-arrow-left
          nav.sl-user.fl-right(ng-click="dropdown=!dropdown" ng-init="dropdown=false"  ng-blur="dropdown=false")
            .pic(style="background-image:url({{multimedia.userpic(credentials.user)}})") 
            .name {{credentials.user.first_name}} &nbsp;
              span.caret
            ul.dropdown-menu(ng-class="{'active':dropdown}")
              li.divider(role='separator')
              li
                a(ng-click="logOut()") Log out



      //- ----------------------------------------------------------------
      //- Active view
      //- ----------------------------------------------------------------
      div.theview(ui-view="")

    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js")
    script(src='/js/scripts.js?v=1.0')